body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

input[type="file"] {
    margin: 20px 0;
}

button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.caption {
    margin-top: 20px;
    color: #ffffff;
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}
